<div style="margin:5%; text-align:center;">


  <div style="width:60%; display:inline-block; border-bottom: 2px solid silver">
    <h3><a href="https://github.com/austinbr/portfolio"><i class="fa fa-github-square" style="font-size:30px; vertical-align:middle"></i> Portfolio </a></h3>
    
    <div style="text-align:center">
      <p> The portfolio site you are currently viewing!</p> 
    </div>

    <ul style="list-style:none; padding:0; text-align:center">
      <li><strong> Technologies Used: </strong></li>
      <li style="display:inline-block"> Javascript |</li>
      <li style="display:inline-block"> JQuery |</li>
      <li style="display:inline-block"> Angular |</li>
      <li style="display:inline-block"> Node |</li>
      <li style="display:inline-block"> Express </li>
    </ul>

  </div>
  
  <br>

  <div style="width:60%; display:inline-block; border-bottom: 2px solid silver">
    <h3><a href="https://github.com/austinbr/portfolio"><i class="fa fa-github-square" style="font-size:30px; vertical-align:middle"></i> Rocket Legends </a></h3>
    
    <div style="text-align:center">
      <a data-fancybox="rlss" href="/img/Screenshots/rl1.png"><img src="/img/Screenshots/rl1.png" style="height:200px; width:auto"></a>
      <a data-fancybox="rlss" href="/img/Screenshots/rl2.png"></a>
      <a data-fancybox="rlss" href="/img/Screenshots/rl3.png"></a>
      <a data-fancybox="rlss" href="/img/Screenshots/rl4.png"></a>
      <a data-fancybox="rlss" href="/img/Screenshots/rl5.png"></a>
    </div>
    
    <div style="text-align:center">
      <p>With a team, created a four person multiplayer fps/moba game built in Unity. Features include AI pathing, multiplayer networking, gunplay physics, and character animations.</p>
    </div>

    <ul style="list-style:none; padding:0; text-align:center">
      <li><strong> Technologies Used: </strong></li>
      <li style="display:inline-block"> Unity |</li>
      <li style="display:inline-block"> C# </li>
    </ul>

  </div>

  <br>

  <div style="width:60%; display:inline-block; border-bottom: 2px solid silver">
    <h3><a href="https://github.com/austinbr/banet"><i class="fa fa-github-square" style="font-size:30px; vertical-align:middle"></i> Idea Board </a></h3>
      
    <div style="text-align:center">
      <a data-fancybox="iwss" href="/img/Screenshots/iw1.png"><img src="/img/Screenshots/iw1.png" style="height:150px; width:auto"></a>
      <a data-fancybox="iwss" href="/img/Screenshots/iw2.png"></a>
      <a data-fancybox="iwss" href="/img/Screenshots/iw3.png"></a>
    </div>

    <div style="text-align:center">
      <p>Built and deployed an Idea Wall in four and a half hours. Users were able to login, post new ideas, leave comments, and vote on their favorite ideas.</p>
    </div>

    <ul style="list-style:none; padding:0; text-align:center">
      <li><strong> Technologies Used: </strong></li>
      <li style="display:inline-block"> C# |</li>
      <li style="display:inline-block"> ASP.NET |</li>
      <li style="display:inline-block"> Dapper |</li>
      <li style="display:inline-block"> MySQL </li>
    </ul>
  </div>

  <br>

  <div style="width:60%; display:inline-block; border-bottom: 2px solid silver">
    <h3><a href="https://github.com/austinbr/bapy"><i class="fa fa-github-square" style="font-size:30px; vertical-align:middle"></i> Travel Buddy </a></h3>
     
    <div style="text-align:center">
      <a data-fancybox="tbss" href="/img/Screenshots/tb1.png"><img src="/img/Screenshots/tb1.png" style="height:150px; width:auto"></a>
      <a data-fancybox="tbss" href="/img/Screenshots/tb2.png"></a>
      <a data-fancybox="tbss" href="/img/Screenshots/tb3.png"></a>
      <a data-fancybox="tbss" href="/img/Screenshots/tb4.png"></a>
    </div>

    <div style="text-align:center">
      <p>Built and deployed a Travel Planning site in four and a half hours. Users were able to create an account, post new travel plans, join other users’ planned trips, and view all travel plans they had signed up for.</p>
    </div>

    <ul style="list-style:none; padding:0; text-align:center">
      <li><strong> Technologies Used: </strong></li>
      <li style="display:inline-block"> Python |</li>
      <li style="display:inline-block"> Django |</li>
      <li style="display:inline-block"> MySQL </li>
    </ul>
  </div>

  <br>

  <h3>And more to come!</h3>

</div>