<div style="margin: 5%">


  <div>
      <h4>Portfolio</h4>
      <p> The portfolio you are currently viewing was built with Node, Express, and Angular.</p>

      <!-- 2. Create links -->
      <!-- <a data-fancybox="gallery" href="img/cygnusnebula.jpg"><img src="img/cygnusnebula.jpg"></a>
      <a data-fancybox="gallery" href="img/cygnusnebula.jpg"><img src="img/cygnusnebula.jpg"></a> -->

    </div>
  
    <br>

  <div>
    <h4>MobaLeague</h4>
    <p>A 4 person multiplayer fps/moba game built in Unity. Features include AI pathing, multiplayer networking, and gunplay physics and animations.</p>
  </div>

  <br>

  <div>
    <h4>Travel Buddy</h4>
    <p>Built and deployed a Travel Planning site using Python, Django, and MySQL. Users were able to create an account, post new travel plans, join other users’ planned trips, and leave comments.</p>
  </div>

  <br>

  <div>
    <h4>Idea Board</h4>
    <p>Built and deployed an Idea Wall site using .NET,  Dapper, and MySQL. Users were able to login, post new ideas, leave comments, and vote on their favorite ideas.</p>
  </div>

  <br>

  <h4>And more to come!</h4>

</div>