<div style="margin: 5%">

  <ul style="list-style:none">
    <li><a href="mailto:Br.austin3@gmail.com" style="margin-left:5px"><i class="fa 	fa fa-envelope-square" style="font-size:30px; vertical-align:middle"></i> Br.austin3@gmail.com </a></li>
    <li><a href="tel: (425) 324-4390" style="margin-left:5px"><i class="fa fa-phone-square" style="font-size:30px; vertical-align:middle"></i> (425) 324-4390</a></li>
    <li><a href="https://github.com/austinbr" style="margin-left:5px"><i class="fa fa-github-square" style="font-size:30px; vertical-align:middle"></i> https://github.com/austinbr</a></li>
    <li><a href="https://www.linkedin.com/in/austinbr/" style="margin-left:5px"><i class="fa fa-linkedin-square" style="font-size:30px; vertical-align:middle"></i> https://www.linkedin.com/in/austinbr/</a></li>
  </ul>

</div>