<h3>About Me</h3>

<p>I'm a full stack developer from Mukilteo, WA.</p>

<p>After earning my BA (Financial Economics, Philosophy) I ended up working in accounting. Faced with a rather tedious data entry assignment, I began to explore how to automate the problem through Excel's VBA programming language, which gave me first real taste of useful programming.</p>
<p>I was immediately hooked! In fact, I found I was spending most of my time thinking about ways to improve my code or cool new features I could add. So, upon completion of my contract, I decided to pursue coding as a profession.</p>


<p>I attended the Coding Dojo bootcamp, where I spent over 1,000 hours learning how to build and deploy fullstack web applications across three different languages. Now I am eager to apply these new found skills to more interesting and complex problems!</p>